<section>
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li *ngFor="let item of menus" nz-menu-item [nzSelected]="currentRoute === item.key">
      <a [routerLink]="item.route">{{item.title}}</a>
    </li>
  </ul>
  <img class="test" width="40" src="../assets/Circle.jpg">
  <!-- <img class="test" width="40" src="./assets/logo.png"> -->
  <img class="test" width="40" [src]="imgSrc">
  <img class="test" width="40" src="http://localhost:10300/assets/Delete.jpg">
  <img class="test" width="40" src="http://localhost:10200/img/logo.82b9c7a5.png">
  <section style="padding: 20px;">
    <router-outlet></router-outlet>
  </section>
</section>